body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

header {
    background-color: rgb(206, 0, 0);
    padding: 1cm;
}

header h2 {
    color: aliceblue;
    font-size: 1cm;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 115px;
    margin-left: 250px;
}

ul {list-style: none;}

nav {
    margin-top: 0%;
    margin-bottom: 2cm;
    background-color: rgb(100, 0, 0);
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;

}

nav ul li {
    display: inline-block;
    width: 16.5%;
    margin-left: 0cm;
    color: beige;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover {background-color: black;}

footer {text-align: center;
background-color: grey;
padding: 3cm;}

nav ul li a.activo {background-color: black;}

.holder {max-width: 960px;
margin: 0 auto;}

img {display: block;
padding: 0%;}

.columnas {display: inline-flexbox;}

h1 {font-style: italic;
    color: brown;}

.row {background-color: dimgray;}

.col {color: white;}

h3 a:hover {background-color: blue;}

h3 a {text-decoration: none;
color: crimson;}

main div img {margin-left: 25px;
margin-bottom: 25px;}